
@import url('https://fonts.googleapis.com/css2?family=Anton&family=Nunito:ital@0;1&display=swap');

.title{
    color: white;
}


html{
    background-image: url("../assets/img/bg-img.jpg");
    width: 100%;
}

h1{
    font-family: 'Anton';
    color: white;
}

h2{
    font-family: 'Nunito';
    color: #e3e3e3;
}

li{
    display: inline;
    font-family: 'Anton';
}

li:hover{
    background-color: #c7fa6c;
    border-radius: 5px;
    transition: 0.2s;
    padding: 4px;
    color: black;
}

.welcome-msg{
    color: #c7fa6c;
    border-radius: 10px;
    font-size: 36px;
    font-family: 'Anton';
    padding: 10px;
}

.welcome-msg-head{
    font-family: 'Anton';
}


a:visited{
    text-decoration: none;
    color: white;
}

.is-primary{
    background-color: #c7fa6c;
}
